@import '../../assets/sass/lib/mixin';
.about {
  &__wrapper {
    display: flex;
    align-items: flex-start;
  }
  &__header {
    position: relative;
    height: 48px;
    border-bottom: 1px solid var(--grey-opacity-color);
    border-right: 1px solid var(--grey-opacity-color);
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 30px;

    &-title {
      font-size: 18px;
      font-weight: 400;
      color: var(--text-color);
      font-family: 'JetBrains Mono';
      display: flex;
      align-items: center;
      gap: 10px;
      height: 48px;
      border-right: 1px solid var(--grey-opacity-color);
      padding-right: 71px;
    }
  }

  &__column {
    // border-right: 1px solid var(--grey-opacity-color);
    // height: calc(100vh - 96px);
    min-height: 884px;
    &-descr {
      line-height: 30px;
      font-size: 18px;
      font-weight: 400;
      color: var(--grey-color);
      span {
        background-color: var(--accent-color);
        width: 100%;
        display: block;
        color: var(--detail-color);
        padding: 0 10px;
        font-weight: 500;
      }
    }
  }
  &__column-left {
    position: relative;
    width: 230px;
    min-height: 884px; // height: calc(100vh - 96px);
    border: 1px solid var(--grey-opacity-color);
    padding: 10px 14px;
  }
  &__column-right {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  &__block-descr {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    padding-left: 20px;
    border-right: 1px solid var(--grey-opacity-color);
  }
  &__title {
    position: absolute;
    width: 100%;
    height: 37px;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: var(--text-color);
    font-weight: 400;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 14px 10px;
    border-bottom: 1px solid var(--grey-opacity-color);
  }

  &__folders {
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-top: 50px;
  }
}

@include md {
  .about {
    &__column-left {
      display: none;
    }
    &__block-descr {
      border-left: 1px solid var(--grey-opacity-color);
    }
    &__header {
      border-left: 1px solid var(--grey-opacity-color);
    }
  }
}
@include sm {
  .about {
    &__column-descr {
      font-size: 16px;
    }
  }
}
