@import '../../assets/sass/lib/mixin';
.main {
  padding-top: 70px;
  *::after,
  *::before {
    font-weight: 400;
    font-size: 20px;
    color: #515152;
    font-family: 'La Belle Aurore';
    position: absolute;
  }
  &__wrapper {
    display: flex;
    align-items: flex-start;
    position: relative;
    justify-content: space-between;
    min-height: 600px;
    gap: 40px;
    padding: 30px 0 50px;
    &::before {
      content: '<html>';
      top: -30px;
      left: 0px;
    }
    &::after {
      content: '</html>';
      bottom: 40px;
      left: 0px;
    }
  }
  &__subtitle {
    font-size: 20px;
    font-weight: 400;
    color: var(--text-color);
  }
  &__skills {
    width: 540px;
    height: 485px;
    &-tag {
      color: var(--accent-color);
      font-weight: 500;
      font-size: 16px;
      font-family: 'JetBrains Mono';
      width: 100% !important;
      height: 100% !important;
    }
  }
  &__block {
    padding-top: 80px;
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin-left: 60px;
    &::before {
      content: '<body>';
      top: 10px;
      left: -30px;
    }
    &::after {
      content: '</body>';
      bottom: -45px;
      left: -30px;
    }

    &-title {
      position: relative;
      font-size: 56px;
      font-weight: 600;
      color: var(--text-color);
      letter-spacing: 2px;
      line-height: 50px;
      margin: 10px 0 20px;
      &::before {
        content: '<h1>';
        top: -70px;
        left: -40px;
      }
      &::after {
        content: '</h1>';
        bottom: -120px;
        right: -50px;
      }
    }

    &-text {
      font-size: 34px;
      font-weight: 600;
      color: var(--accent-color);
    }
    &-button {
      position: relative;
      max-width: 220px;
      &::before {
        content: '<button>';
        top: -40px;
        left: -60px;
      }
      &::after {
        content: '</button>';
        bottom: -40px;
        right: -50px;
      }
    }
    &-descr {
      position: relative;
      font-size: 16px;
      font-weight: 500;
      line-height: 26px;
      color: var(--text-color);
      margin: 40px 0 40px;
      font-family: 'JetBrains Mono', monospace;
      &::before {
        content: '<p>';
        top: -30px;
        left: -40px;
      }
      &::after {
        content: '</p>';
        bottom: -20px;
        right: 0px;
      }
    }
  }
}

@include xl {
  .main {
    overflow-x: hidden;
  }
}
@include lg {
  .main {
    &__wrapper {
      flex-direction: column;
      align-items: center;
      &::after {
        bottom: 50px;
      }
    }
    &__block {
      text-align: center;
      align-items: center;
      margin-left: 0;
    }
  }
}

@include sm {
  .main {
    padding-top: 0;
    &__skills {
      height: 400px;
    }
    &__wrapper {
      &::before {
        display: none;
      }
      &:after {
        display: none;
      }
    }
    &__block {
      &::before {
        left: 0px;
        top: 16px;
      }
      &::after {
        left: 0px;
      }
      &-text {
        line-height: 40px;
      }
      &-descr {
        margin: 35px 0;
        &::before {
          left: 0;
        }
      }
      &-title {
        &::before {
          top: -50px;
          left: -30px;
        }
        &::after {
          bottom: -105px;
          right: -30px;
        }
      }
      &-button {
        &::before {
          left: -40px;
        }
        &::after {
          right: -40px;
        }
      }
    }
  }
}
