.main {
  padding-top: 250px;
  *::after,
  *::before {
    font-weight: 400;
    font-size: 20px;
    color: #515152;
    font-family: 'La Belle Aurore';
    position: absolute;
  }
  &__wrapper {
    display: flex;
    align-items: flex-start;
    position: relative;
    &::before {
      content: '<html>';
      top: -150px;
      left: 0px;
    }
  }
  &__skills {
    position: absolute;
    top: -150px;
    right: 0;
    width: 640px;
    height: 640px;
  }
  &__block {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin-left: 60px;
    &::before {
      content: '<body>';
      top: -100px;
      left: -30px;
    }

    &-title {
      position: relative;
      font-size: 56px;
      font-weight: 600;
      color: var(--text-color);
      letter-spacing: 2px;
      line-height: 50px;
      margin: 10px 0 20px;
      &::before {
        content: '<h1>';
        top: -70px;
        left: -40px;
      }
      &::after {
        content: '</h1>';
        bottom: -120px;
        right: -50px;
      }
    }
    span {
      margin-left: 20px;
    }

    &-text {
      font-size: 34px;
      font-weight: 600;
      color: var(--accent-color);
    }
    &-button {
      position: relative;
      max-width: 220px;
      &::before {
        content: '<button>';
        top: -40px;
        left: -60px;
      }
      &::after {
        content: '</button>';
        bottom: -40px;
        right: -50px;
      }
    }
    &-descr {
      position: relative;
      font-size: 16px;
      font-weight: 500;
      line-height: 26px;
      color: var(--text-color);
      margin: 60px 0 40px;
      font-family: 'JetBrains Mono', monospace;
      &::before {
        content: '<p>';
        top: -30px;
        left: -40px;
      }
      &::after {
        content: '</p>';
        bottom: -20px;
        right: 0px;
      }
    }
  }
}
